/* reset.css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* font import*/
/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-v17-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/lato-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lato-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lato-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/lato-v17-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lato-v17-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/lato-v17-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lato-v17-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lato-v17-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato-v17-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/lato-v17-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
  }
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/lato-v17-latin-900.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/lato-v17-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lato-v17-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lato-v17-latin-900.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato-v17-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/lato-v17-latin-900.svg#Lato') format('svg'); /* Legacy iOS */
  }

  html {
      box-sizing: border-box;
  }

  *, *::before, *::after {
      box-sizing: inherit;
  }

  body {
      font-family: 'Lato';
      font-size: 16px;
      font-weight: normal;
      line-height: 1.2;
      font-style: normal;
      color: #102746;
  }

  /* header section styles start*/
  .container {
      max-width: 1060px;
      margin: 0 auto;
      padding-top:56px;
  }

  .header {
      position: fixed;
      top:0;
      left:0;
      width: 100%;
  }

  .header__menu {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: space-between;
  }

  .header__menu-items {
      display:flex;
      flex-wrap: wrap;
  }

  .header__menu-link {
      text-decoration: none;
      color: #ffffff;
      font-size: 18px;
      line-height: 24px;
  }

  .header__menu-link:hover, .header__menu-link:active, .header__menu-link:focus {
      opacity: 75%;
  }

  .item {
      margin-right: 82px;
  }

  .item:last-child {
      margin-right:0px;
  }

  /* header styles end */

  /* intro styles start */
  .intro {
      min-height: 100vh; /*Why do we even need it?*/
      background: url('/Odigo/img/img-background.jpg') no-repeat center;
      background-size: cover;
      padding-top: 263px;
  }

  .intro__title {
      font-weight: 500;
      color:#ffffff;
      line-height: 60px;
      font-size: 50px;
      margin-bottom: 22px;
      max-width: 619px;
  }

  .intro__description {
      line-height: 24px;
      font-size:16px;
      color: #ffffff;
      max-width: 546px;  
      margin-bottom: 59px;     
  }

  .search-form__info {
      display: flex;
      flex-wrap: wrap;
  }

  .search-form__input {
      background-color: transparent;
      border: 0;
      background: url('../img/Oval.svg') no-repeat left 7px;
      background-size: 20px;
      border-bottom: 2px solid #BFC0C5;
      margin-right: 60px;  
      padding: 0px 0px 22px 43px;
      width: 297px; /* why results for max-width and width are different in this case?*/
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      color: #ffffff;
  }

  .search-form__input:last-child {
      margin-right:0px;
  }
  .search-form__input::placeholder{
      color:#ffffff;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
  }
  .search-form__submit{
      background-color: #1B7DFF;
      font-size: 24px;
      font-weight: 500;
      font-style: normal;
      line-height: 28.8px;  
      text-transform: uppercase;
      color: #ffffff;
      padding: 15px 39px;
      border: transparent;    
  }
  .search-form__submit:hover, .search-form__submit:active, .search-form__submit:focus{
      background-color:#08408a;
  }

  /* intro styles end */

